form {
    width: 900px;
    margin: auto 20rem auto 21rem;
}

fieldset {
    border: 2px solid #e7e7e7;
    margin: 20px;
}

fieldset #sexo {
        width: 200px;
        font: 1vw verdana;

}

legend {
    color: #ffffff;
    font: 1rem verdana;
    font-weight: 800;
}

p {
    color: #f9e8e8;
    font: 1vw verdana;
    font-weight: bold;
}

input.btn {
    background-color: rgb(255, 0, 153);
    color: #eddbdb;
    padding: 7px;
    margin: 5px;
    font: 1.3vw verdana;
    border: none;
}

input.btn:hover {
    background-color: #ec66a0;
    color: black;
}
